.event-invitation--info
	:text-align center
	:margin 20px 0 26px
	h3 
		:font-size 1.6rem
	p 
		:font-size 1.4rem	
	h3, p
		:margin 4px 0 	
.event-invitation--details
	>div 
		:width 50%
		&:nth-of-type(2)
			p
				:font-size 1.2rem
				:margin 2px 0
				&:first-of-type
					:font-weight 600
		.event-invitation--charity
			:margin-top 12px
			:text-align center	
			p
				:font-weight 900
			img 
				:width 200px	
.event-guest-list
	:margin-top 20px					
