.registry--wrapper 
	:text-align center
	h3 
		:font-size 2.4rem
		:text-transform uppercase
		
	p, h3
		:margin 4px 0
	img 
		:margin 18px 0		
	.date 
		:color $pink
		:font-size 1.8rem
	.registry--charity-info
		h3 
			:font-size 2rem
			:text-transform capitalize
		img
			:max-width 200px
		p 
			:font-size 1.2rem				
			:text-align left
	.event--share 
		:margin 40px 15% 20px		
.event--share
	:width 70%
	span 
		:text-align left
	.share--url 
		span 
			:white-space nowrap
			:overflow scroll
.event--share-small
	:max-width 200px
	i 
		:font-size 1.6rem
	span
		:font-size 1rem	
			
				