.modal
  :max-width 900px
  :width 75%
  background: white
  padding: 40px 60px
  position: fixed
  z-index: 1000
  color: $font-black
  :max-height 90vh
  :overflow scroll
  :transition 0.3s all ease
  :opcatiy 1  
  .close
    position: absolute
    top: 20px
    right: 20px
    font-size: 22px
    cursor: pointer
.modal.transition
  :opacity 0
.modal--overlay
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 100
  background-color: rgba(0, 0, 0, 0.5)

.popup 
  :max-width 537px
  :position fixed
  :bottom 50px
  :right 120px
  :transition 0.3s
  .close
    position: absolute
    top: 20px
    right: 20px
    font-size: 22px
    cursor: pointer
.send-invite-panel, .send-message-panel, .send-thankyou-panel
  .button 
    :padding 16px 42px
    :display inline-block
    :font-size 1.6rem
    :margin-top 30px

.guest-profile-modal
  :top 50%
  :max-width 45%
  label 
    :width 20%
    :text-transform uppercase
    :font-weight bold
  input, textarea 
    :width 60%
  img 
    :padding-left 10px
  .guest-profile-wrapper
    :padding-left 10px
    :padding-right 40px
    :padding-top 50px
  .actions 
    :text-align center
    .button
      :font-size 1.6rem
      :width initial
      :padding 10px 100px
  .short-input
    :width 30%
  .long-input 
    :width 60%
    :display inline-block
    :border 1px solid $border-gray
    :padding 12px 
    :font-size 1.4rem
    :margin 0

.add-guest-modal, .add-contact-modal
  :max-width 977px
  :border 1px solid $border-gray
  .dashboard-menu
    :margin 30px auto 20px
    ul
      :margin 0
      :border-bottom 1px solid $inactive-gray
    li
      :text-transform capitalize
  h2 
    :margin-top 25px
  .button 
    :padding 16px 42px
    :display block
    :font-size 1.6rem
    :margin 30px auto
  .contact-blurb
    :margin-top 30px
    :margin-bottom 50px
    :padding 0 40px
    :text-align center
    :font-size 1.4rem
    a 
      :color blue
  input[placeholder] 
    :color $panel-gray
  .gmail-contact
    :text-align center
    img 
      :margin 60px auto
      :margin-top 10px
  .import-contacts
    :text-align center
    :font-size 1.4rem
    .col--three
      :display flex
      :flex-direction column
      :justify-content space-between
      img:first-of-type 
        :margin-bottom 18px
      img:last-of-type 
        :margin-top 18px      
    input 
      :border none
    p 
      :margin 2px 0
    .upload 
      :position absolute
      :visibility hidden
      :height 1px
      :width 1px
      :padding 0
    .wrapper--buttons
      :justify-content center
      :margin-top 116px
      .button 
        :margin 0 20px
      .button--dark 
        :border 1px solid $font-black  
  .address-book-contacts
    input[type='checkbox']
      // :width 215px
      :visibility hidden
      :height 1px
      :width 1px
    input[type='checkbox']:checked + span
      :border 1px solid $pink
      :background $pink
      :position relative
      &:after 
        :content '✓' 
        :color white
        :position absolute
        :top 50%
        :left 50%
        :transform translate(-50%, -50%)
    .contact-box
      :width 21px
      :height 21px
      :display block
      :border 1px solid $border-gray 
    .contact-box-all
      :border 1px solid $border-gray   
      :width 18px
      :height 18px
      :display inline-block
      :vertical-align middle
      :margin-left 10px
   
    .contact-label
      :display flex
      :align-items center
      :margin 0
      :font-size 1.2rem
      .contact-box 
        :margin-right 184px
      .contact-name 
        :width 200px
      p 
        :margin 0

  .contact 
    :border-bottom 1px solid #EAECEB
    :padding 18px
  .scroll-area
    :height 200px
    :overflow scroll
  .contact-headings
    :display flex 
    :font-weight bold
    :padding 10px
    :border-bottom 1px solid #EAECEB
    .all 
      :width 215px 
    .name 
      :width 200px
.add-guest-modal
  :max-width 977px
  :height 700px
  :width 82%

.cash-out-modal
  :height 100%
  :overflow scroll
  .total-gifted
    :margin 0 auto
  .donation-selection
    p 
      :font-size 2rem
      :text-align center
    .edit-percentage
      :font-size 1.4rem
      :color $pink  
  .payment-method-option
    label
      :margin-top 8px
      :font-size 1.2rem
      :margin-bottom 2px
    p.note
      :font-size 1.2rem
      :text-align left
    p  
      :width 100% 
      :font-size 1.4rem
      :text-align center 
  .payment-method-option
    >div
      >div 
        :margin-right 10px
        &:last-of-type
          :margin-right 10px
  .payment-method-full
    .col--two.wrapper--flex
      div 
        :margin-right 10px
        :background red   

.modal--small
  :max-width 420px
  :width 90%
.modal-guest-rsvp
  h2, p 
    :text-align center
  h2 
    :color $pink
    :font-size 1.8rem
  p 
    :font-size 1.4rem  
.learn-more-modal 
  .wrapper--flex 
    >div 
      &:first-of-type 
        :width 30%
      &:last-of-type
        :width 70%     
.preview-modal
	.date 
    :font-size 1.3rem
    :margin-bottom 20px
	h3 
		:margin 6px 0
	.dashboard-menu
		:margin-bottom 0 
  p.support
    :font-size 1.4rem
    :font-weight 700
	img.charity-logo
		:width 140px
	.guest-note
		:font-size 1.2rem
		:text-align left
		:line-height 1.5
		:max-width 500px
		:margin 18px auto 36px
	.event--share 
		:margin 40px auto 0
	.share--url 
		:margin 0
	.tabs 
		:justify-content center
		li 
			:margin 0 16px				
.preview-registry
  img.registry-image
    :width 200px
    :min-width 200px 
    :margin-bottom 20px 
