.modal
  width: 900px
  background: white
  padding: 40px 60px
  position: fixed
  z-index: 1000
  color: $font-black
  .close
    position: absolute
    top: 20px
    right: 20px
    font-size: 22px
    cursor: pointer

.modal--overlay
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 100
  background-color: rgba(0, 0, 0, 0.5)

.popup 
  :max-width 537px
  :position fixed
  :bottom 50px
  :right 120px
  :transition 0.3s
  .close
    position: absolute
    top: 20px
    right: 20px
    font-size: 22px
    cursor: pointer
.send-invite-panel, .send-message-panel, .send-thankyou-panel
  .button 
    :padding 16px 42px
    :display inline-block
    :font-size 1.6rem
    :margin-top 30px

.guest-profile-modal
  :top 50%
  :max-width 600px
  label 
    :width 20%
    :text-transform uppercase
    :font-weight bold
  input, textarea 
    :width 60%
  img 
    :padding-left 10px
  .guest-profile-wrapper
    :padding-left 10px
    :padding-right 40px
    :padding-top 50px
  .actions 
    :text-align center
    .button
      :font-size 1.6rem
      :width initial
      :padding 10px 100px
  .short-input
    :width 30%
  .long-input 
    :width 60%
    :display inline-block
    :border 1px solid $border-gray
    :padding 12px 
    :font-size 1.4rem
    :margin 0
.add-contact-modal
  :max-width 977px
  :border 1px solid $border-gray