.table
	&--event-dashboard
		.small-only
			+display-for(md lg xl)
				:display none
		.big-only
			+display-for(xs sm)
				:display none
		ul
			:list-style none
			:margin 0
			:font-weight normal
			:padding 0
			&.flex 
				:font-weight bold
				:display flex
				:justify-content space-between
				:-webkit-padding-start 0
				li 
					:flex 1 1 20em
					&.action-list
						:flex 4 60em
			&.menu
				p
					:margin-bottom 20px
			&.guest-table
				:font-weight normal
				:margin-bottom 40px
				:align-items flex-end
			&.list
				li  
					:margin-bottom 40px
			&.actions
				:font-weight normal
				:font-size 1rem
				:align-items flex-end
				:text-align center
		p 
			:margin 0
		a 
			:color $font-black
		p.action 
			:text-align center
	&--heading
		:background $black
		:color white
		:display flex
		:padding 22px
	&--title
		:width 40%
	&--options
		:width 60%
	&--sub-heading 
		:font-size 1.2rem
		:padding 20px 0
.table 
	&--admin
		:margin-top 60px
		ul 
			:margin 0
			:padding 0
			:text-align center
			:align-items center
	&--admin-title
		:background $panel-gray
		:font-size 1.4rem
		li 
			:padding 4px 6px
			:text-align center
			:font-weight 600	
	&--admin-row
		:font-size 1.2rem	
		li 
			:padding 12px 0	
	&--admin-event
		li 
			:width calc(100% / 10)	
	&--admin-invites
		li 
			:width calc(100% / 6)	
			img 
				:width 100%
				:max-width 100px	
	&--admin-charity
		li 
			:width calc(100% / 6)	
			img
				:width 100%
				:max-width 150px
		
	&--admin-news
		li 
			:width calc(100% / 5)	
			img 
				:width 100%
				:max-width 150px										
.unsent
.attending
	:color $attending
.no_reply
	:color $no-reply
.declined
	:color $declined