<div class="charity-grid wrapper wrapper--flex wrapper--flex-wrap">
	<div class="col--four">
		<img src="assets/toolkit/images/charities/wwf_logo.png" alt="">
	</div>
	<div class="col--four">
		<img src="assets/toolkit/images/charities/CBCF_logo.png" alt="">
	</div>
	<div class="col--four">
		<img src="assets/toolkit/images/charities/mind_logo.png" alt="">
	</div>
	<div class="col--four">
		<img src="assets/toolkit/images/charities/salvation_army_logo.png" alt="">
	</div>
	<div class="col--four">
		<img src="assets/toolkit/images/charities/cash_for_kids_logo.png" alt="">
	</div>
	<div class="col--four">
		<img src="assets/toolkit/images/charities/childrens_heart_logo.png" alt="">
	</div>
	<div class="col--four">
		<img src="assets/toolkit/images/charities/charity_miles_logo.png" alt="">
	</div>
	<div class="col--four">
		<img src="assets/toolkit/images/charities/unicef_logo.png" alt="">
	</div>
</div>