<h1>The Grid</h1>

<div class="wrapper wrapper--flex wrapper--flex-wrap">
	<div class="col--two">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt labore placeat quas provident nulla reiciendis vero, dolores quaerat quisquam facere aspernatur vitae, sit, ut minima.</p>
	</div>
	<div class="col--two">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt labore placeat quas provident nulla reiciendis vero, dolores quaerat quisquam facere aspernatur vitae, sit, ut minima.</p>
	</div>
</div>
<div class="wrapper wrapper--flex wrapper--flex-wrap">
	<div class="col--three">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt labore placeat quas provident nulla reiciendis vero, dolores quaerat quisquam facere aspernatur vitae, sit, ut minima.</p>
	</div>
	<div class="col--three">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt labore placeat quas provident nulla reiciendis vero, dolores quaerat quisquam facere aspernatur vitae, sit, ut minima.</p>
	</div>
	<div class="col--three">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt labore placeat quas provident nulla reiciendis vero, dolores quaerat quisquam facere aspernatur vitae, sit, ut minima.</p>
	</div>
</div>
<div class="wrapper wrapper--flex wrapper--flex-wrap">
	<div class="col--four">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt labore placeat quas provident nulla reiciendis vero, dolores quaerat quisquam facere aspernatur vitae, sit, ut minima.</p>
	</div>
	<div class="col--four">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt labore placeat quas provident nulla reiciendis vero, dolores quaerat quisquam facere aspernatur vitae, sit, ut minima.</p>
	</div>
	<div class="col--four">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt labore placeat quas provident nulla reiciendis vero, dolores quaerat quisquam facere aspernatur vitae, sit, ut minima.</p>
	</div>
	<div class="col--four">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt labore placeat quas provident nulla reiciendis vero, dolores quaerat quisquam facere aspernatur vitae, sit, ut minima.</p>
	</div>
</div>