<div class="how-it-works wrapper wrapper--flex wrapper--flex-wrap">
	<div class="col--four-margin">
		<img src="assets/toolkit/images/icons/choose_invite_home.svg" alt="">
		<h3>Choose Invitation</h3>
		<p>Browse our beautifully designed invitation gallery and find an invitation that's right for you. Customize it for your special event!</p>
	</div>
	<div class="col--four-margin">
		<img src="assets/toolkit/images/icons/choose_charity_home.svg" alt="">
		<h3>Select Charity</h3>
		<p>Find a cause that’s meaningful to you from one of our amazing charity partners. Select the percentage you’d like to donate and we’ll do the rest!</p>
	</div>
	<div class="col--four-margin">
		<img src="assets/toolkit/images/icons/invite_guest_home.svg" alt="">
		<h3>Invite Guests</h3>
		<p>Share your event with as many friends and family as you’d like! Whether it’s a five hundred person wedding or a more intimate birthday party for your child’s class, we’ve got you covered. </p>
	</div>
	<div class="col--four-margin">
		<img src="assets/toolkit/images/icons/manage_registry_home.svg" alt="">
		<h3>Manage Registry</h3>
		<p>Track all your RSVPs, gifts and messages in your personal event dashboard. It’s simple to use and has all the tools you’ll need to plan your special event.</p>
	</div>
	
</div>