<div class="sign-up">
	<img src="assets/toolkit/images/logo_black.svg" alt="">

	<input type="text" id="textInput" placeholder="First Name" />
	<input type="text" id="textInput" placeholder="Last Name" />
	<input type="text" id="textInput" placeholder="Email" />
	<input type="text" id="textInput" placeholder="Password" />

	<p class="sign-up--social"><span>or, sign up with social</span></p>

	<a href="#" class="button button--light google"><i class="fa fa-google-plus"></i>Sign in with google</a>
	<a href="#" class="button button--light facebook"><i class="fa fa-facebook"></i>Sign in with facebook</a>
	<div class="sign-up-checkbox">
		<input type="checkbox" />
		<label for="">Remember Me</label>
	</div>

	<a href="#" class="button button--dark">Sign up</a>
	<div class="sign-up-checkbox">
		<input type="checkbox" />
		<label for="">Join our news letter</label>
	</div>

	<p class="have-account">Have an account <a href="#">Log in</a></p>
</div>