<div class="table--event-dashboard wrapper">
	<div class="table--heading">
		<div class="table--title">
			<p>Guestlist (#)</p>
		</div>
		<div class="table--options">
			<ul class="flex">
				<li class="big-only unsent">unsent (56)</li>
				<li class="small-only unsent">●(56)</li>
				<li class="big-only attending">attending (26)</li>
				<li class="small-only attending">●(26)</li>
				<li class="big-only no-reply">no reply (2)</li>
				<li class="small-only no-reply">●(2)</li>
				<li class="big-only declined">Declined (4)</li>
				<li class="small-only declined">●(4)</li>
			</ul>
		</div>
	</div>
	<div class="table--sub-heading">
		<ul class="flex menu">
			<li><p>Name</p>
				<ul class="list">
					<li>Addie Bush</li>
					<li>Noah Logan</li>
					<li>Richard Klien</li>
				</ul>
			</li>
			<li><p>Status</p>
				<ul class="list">
					<li class="attending">Attending</li>
					<li class="no-reply">No Reply</li>
					<li class="declined">Declined</li>
				</ul>
			</li>
			<li class="big-only"><p>Number of Guests</p>
				<ul class="list">
					<li>2</li>
					<li>2</li>
					<li>2</li>
				</ul>
			</li>
			<li class="small-only"><p>Guests</p>
				<ul class="list">
					<li>2</li>
					<li>2</li>
					<li>2</li>
				</ul>
			</li>
			<li><p>Gifted</p>
				<ul class="list">
					<li>$150.00</li>
					<li>$150.00</li>
					<li>$150.00</li>
				</ul>
			</li>
			<li class="big-only"><p>Guest message</p>
				<ul class="list">
					<li>Hi, Morgan! We are so excited to see</li>
					<li>Hi, Morgan! We are so excited to see</li>
					<li>Hi, Morgan! We are so excited to see</li>
				</ul>
			</li>
			<li class="big-only action-list"><p class="action">Actions
				<ul class="flex actions">
					<li>
						<img src="assets/toolkit/images/icons/send_invite_icon.svg" alt="">
						<p>Send Invite</p>
					</li>
					<li>
						<img src="assets/toolkit/images/icons/send_message_icon.svg" alt="">
						<p>Send Message</p>
					</li>
					<li>
						<img src="assets/toolkit/images/icons/send_thanks_icon.svg" alt="">
						<p>Send Thanks</p>
					</li>
					<li>
						<img src="assets/toolkit/images/icons/delete_guest_icon.svg" alt="">
						<p>Delete Guest</p>
					</li>
				</ul>
				<ul class="flex actions">
					<li>
						<img src="assets/toolkit/images/icons/send_invite_icon.svg" alt="">
						<p>Send Invite</p>
					</li>
					<li>
						<img src="assets/toolkit/images/icons/send_message_icon.svg" alt="">
						<p>Send Message</p>
					</li>
					<li>
						<img src="assets/toolkit/images/icons/send_thanks_icon.svg" alt="">
						<p>Send Thanks</p>
					</li>
					<li>
						<img src="assets/toolkit/images/icons/delete_guest_icon.svg" alt="">
						<p>Delete Guest</p>
					</li>
				</ul>
				<ul class="flex actions">
					<li>
						<img src="assets/toolkit/images/icons/send_invite_icon.svg" alt="">
						<p>Send Invite</p>
					</li>
					<li>
						<img src="assets/toolkit/images/icons/send_message_icon.svg" alt="">
						<p>Send Message</p>
					</li>
					<li>
						<img src="assets/toolkit/images/icons/send_thanks_icon.svg" alt="">
						<p>Send Thanks</p>
					</li>
					<li>
						<img src="assets/toolkit/images/icons/delete_guest_icon.svg" alt="">
						<p>Delete Guest</p>
					</li>
				</ul>
			</p>
			</li>
		</ul>
	</div>	

</div>