<div class="total-gifted">
	<div class="total">
		<h3>Total Gifted</h3>
		<p>$12,000</p>
		<img src="assets/toolkit/images/icons/total_gifted_icon.svg" alt="">
	</div>
	<div class="wrapper--flex">
		<div class="total-charity col--two">
			<h3>total Charity</h3>
			<p>$2,000</p>
			<img src="assets/toolkit/images/icons/total_charity_icon.svg" alt="">
		</div>
		<div class="total-host col--two">
			<h3>total host</h3>
			<p>$10,000</p>
			<img src="assets/toolkit/images/icons/total_host_icon.svg" alt="">
		</div>
	</div>
</div>