<div class="benefits-list wrapper wrapper--flex wrapper--flex-wrap">
	<div class="col--two">
		<ul>
			<li>
				<h3>Free and easty to set up!</h3>
				<p>No hidden fees, or out of pocket expenses</p>
			</li>
			<li>
				<h3>Beautifully designed invitations</h3>
				<p>We partner with world-class designers to create unique invitations you’ll find nowhere else</p>
			</li>
			<li>
				<h3>No more blenders, or cheap toys!</h3>
				<p>Use the money you receive to buy something you really want.</p>
			</li>
		</ul>
	</div>
	<div class="col--two">
		<ul>
			<li>
				<h3>Sample Guest Experience!</h3>
				<p>Guests can RSVP and give a gift in minutes.</p>
			</li>
			<li>
				<h3>EASY WAY TO MANAGE YOUR CASH GIFTS!</h3>
				<p>Money is deposited directly into your bank account.</p>
			</li>
			<li>
				<h3>GIVE BACK TO CAUSES THAT ARE IMPORTANT TO YOU</h3>
			</li>
		</ul>
	</div>
</div>