<nav class="footer">
	<div class="footer-wrapper wrapper wrapper--flex">
		<div class="col--four">
			<img src="assets/toolkit/images/logo_white.svg" alt="">
			<div class="social-icons">
			  <a href="#"><i class="fa fa-twitter"></i></a>
			  <a href="#"><i class="fa fa-facebook-official"></i></a>
			  <a href="#"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
		<div class="col--threefourths">
			<ul class="wrapper--flex list-1">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Become a Partner</a></li>
				<li><a href="#">In the news</a></li>
				<li class="big-only"><a href="#">Feedback</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			<hr>
			<ul class="wrapper--flex list-2">
				<li class="small-only"><a href="#">Feedback</a></li>
				<li><a href="#">Terms and Conditions</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
		</div>
	</div>
</nav>