<hr class="header-line">
<nav class="header">
	<div class="wrapper wrapper--flex">
		<div class="col--three social">
			<p>Stay Connected</p>
			<div class="social-icons">
			  <a href="#"><i class="fa fa-twitter"></i></a>
			  <a href="#"><i class="fa fa-facebook-official"></i></a>
			  <a href="#"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
		<div class="col--three logo">
			<a href="#"><img src="assets/toolkit/images/logo_black.svg" alt=""></a>
		</div>
		<div class="col--three login">
			<p>Hello Morgan  | <img src="assets/toolkit/images/event_flow/user.svg" alt=""></p>
			<ul class="user-options">
				<a href="#"><li>Profile</li></a>
				<a href="#"><li>My Dashboard</li></a>
				<a href="#"><li>Address Book</li></a>
				<a href="#"><li>Admin</li></a>
				<a href="#"><li>Sign Out</li></a>
			</ul>
		</div>
	</div>
</nav>
<hr class="header-line">